---
// Este archivo será la base de toda la aplicación
import ReactRouter from '../components/ReactRouter.jsx';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Recetas App" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <title>Recetas App</title>
  </head>
  <body>
    <ReactRouter client:load />  <!-- Aquí cargamos React Router para gestionar las rutas -->
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 58;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: 'Marck Script', cursive;
    background: #ffffff;
  }
</style>
