---
import Layout from '../layouts/Layout.astro';
import EditarUsuario from '../components/ActualizarCardUsuario';
// Proteger esta página verificando si el usuario tiene un token en localStorage
if (typeof window !== 'undefined') {
  const token = localStorage.getItem('token');
  if (!token) {
    window.location.href = '/login';  // Redirigir al login si no hay token
  }
}
---

<Layout title="Guarda y Comparte tus Recetas.">
	<main class="flex-grow pt-20">
		<EditarUsuario />
	</main>
	
</Layout>