---
import Layout from '../layouts/Layout.astro';
import EditarUsuario from '../components/ActualizarCardUsuario';
---

<Layout title="Guarda y Comparte tus Recetas.">
	<main class="flex-grow pt-20">
		<EditarUsuario />
	</main>
	
</Layout>