---
import Layout from '../layouts/Layout.astro';
import InicioSesion from '../components/loginCard.jsx'
---

<Layout title="Guarda y Comparte tus Recetas.">
    <main class="flex-grow pt-20">
        <InicioSesion client:load />
    </main>
    
</Layout>

 