---
import Layout from '../layouts/Layout.astro';
import InicioSesion from '../components/loginCard'
---

<Layout title="Guarda y Comparte tus Recetas.">
    <main class="flex-grow pt-20">
        <InicioSesion />
    </main>
    
</Layout>

