---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header'
import Footer from '../components/Footer';
import CreacionReceta from '../components/recetasCardCrear';
// Proteger esta página verificando si el usuario tiene un token en localStorage
if (typeof window !== 'undefined') {
  const token = localStorage.getItem('token');
  if (!token) {
    window.location.href = '/login';  // Redirigir al login si no hay token
  }
}
---

<Layout title="Guarda y Comparte tus Recetas.">
    <div class="min-h-screen flex flex-col">
        <Header />
        <main class="flex-grow pt-20">
            <CreacionReceta />
        </main>
        <Footer />
      </div>
</Layout>


