---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header'
import Footer from '../components/Footer';
import VerRecetas from '../components/recetasCard.jsx';
---

<Layout title="Guarda y Comparte tus Recetas.">
    <div class="min-h-screen flex flex-col">
        <Header />
        <main class="flex-grow pt-20">
          <VerRecetas client:load />
        </main>
        <Footer />
      </div>
</Layout>


