---
import Layout from '../layouts/Layout.astro';
import RegistrarUsuario from '../components/registrarseCard';
---

<Layout title="Guarda y Comparte tus Recetas.">
    <div class="min-h-screen flex flex-col">
        <main class="flex-grow pt-20">
            <RegistrarUsuario />
        </main>
      </div>
</Layout>

